{% extends 'base.html'%}
{% import 'macros.html' as macro%}{% block content %}

<div class="container-fluid">
  <br>
  <div style="background-color:lightgrey; ">
  <h3 class="text-center">Top News: we bring them up as they come up ; </h3>
  </div>
  <br>


  {% block styles%}
      {{ super() }}
      <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
  {% endblock%}

<link rel="stylesheet"
      href="{{url_for('static', filename='styles.css')}}"><div class="container">
        <!-- Business News Section  -->   
       
        <div class='card-body' style="background-image: repeating-radial-gradient(lightblue,lightgrey);">     
          <h3 class='text-center' >Technology News</h3>
          <hr>
          {{ macro.displayNewsList(technology_news)}}
         <!-- Entertainment -->

        <hr>
        <h3 class='text-center' style="color:blue">Entertainment News</h3>
        <hr>
        
        {{ macro.displayNewsList(entertainment_news)}}
        <hr>       
       <!-- Business  -->
        <h3 class='text-center;' >Business News</h3>
        <hr>
        {{ macro.displayNewsList(business_news)}}

        <!-- SPORTS  -->

        <h3 class='text-center' >Sports News</h3>
        <hr>

        {{ macro.displayNewsList(sports_news)}}
        </div>

<div class="blockquote">
  <footer style="background-color:lightblue">
<p style="text-align:center;top:5%;">(C) 2019 charles</p>
  </footer>
</div>
</div>
{%endblock%}

