 <div class="navbar navbar-inverse"  role="navigation">
   <div class="container-fluid">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
       </button>
       <a  style="color: blueviolet;" href="/"> <span style='font-size:2em; color:rgb(98, 245, 79);font-family:verdana,hervetica;'>DAILY STORY ;</span> </a>
     </div>
    
     <div class="navbar-collapse collapse" style='color:yellowgreen; font-size:1.6em; padding:3%; float:right; padding-left:20%'>
      <ul class="nav navbar-nav">
        <li style="color:yellowgreen; "><a href="/">HOME</a></li>
        <li style="color:yellowgreen; "><a href="/business">BUSINESS</a></li>
        <li style="color:yellowgreen; "><a href="/entertainment">ENTERTAINMENT</a></li>
        <li style="color:yellowgreen; "><a href="/sport">SPORTS</a></li>
        <li style="color:yellowgreen; "><a href="/tech">TECHNOLOGY(ies.)</a></li>
    </div>
  </div>
</div>